
@{
    ViewBag.Title = "GennerailIndex";
    Layout = "~/Views/Shared/_Layout-Copy.cshtml";
}

@*<div class="jumbotron" style="background-color:darkseagreen">
    <h1>ยินดีต้อนรับสู่การจองบัตรคอนเสิร์ต</h1>
    <p class="lead" s>For customers....</p>
</div>*@
